# Секреты и сессии
.env
*.session
*.session-journal

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/

# Локальная БД (на случай, если попадёт в репозиторий)
*.db

# Сайт (Hugo)
site/public/
site/resources/
site/.hugo_build.lock
site/_vendor/
